# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache

# Data (Optional - usually big)
# backend/data/
